{% extends "base_template/base_html.html" %}
{% block main_content %}
    <style>
        body {
            font-family: 'Vazirmatn', sans-serif;
            background-color: #f1f3f6;
        }
        .form-container {
            max-width: 700px;
            margin: 50px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

<div class="form-container">
    <h3 class="text-center mb-4">تکمیل پروفایل کاربری</h3>

    <form method="post" dir='rtl'>
        {% csrf_token %}

        <!-- شماره تماس -->
        <div class="mb-3">
            <label for="id_phone" class="form-label">شماره تماس:</label>
            <input type="text" name="phone" id="id_phone" class="form-control"
                   value="{{ profile_form.phone.value|default:'' }}">
            {% if profile_form.phone.errors %}
                <div class="text-danger">{{ profile_form.phone.errors.0 }}</div>
            {% endif %}
        </div>

        <!-- استان -->
    <div class="mb-3">
        <label for="id_address" class="form-label">استان:</label>
        {{ profile_form.address }}
        {% if profile_form.address.errors %}
            <div class="text-danger">{{ profile_form.address.errors.0 }}</div>
        {% endif %}
    </div>

        <button type="submit" name="save_profile" class="btn btn-primary w-100">ثبت تغییرات</button>
    </form>
</div>

{% endblock main_content %}